page-sign-in {
    ion-content{
        background-image: url("/src/assets/imgs/download.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
    .in{
        
        margin-top:50px ;
    }
    .inx{
        margin-top :20px ;
    }
    
   
      ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }


}
