
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>itemsAdd</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <ion-list>
      <ion-item>
        <ion-label>Museum's Monuments</ion-label>
        <ion-select ngModel name="selected" multiple="false" required>
          <ion-option *ngFor="let item of Monum">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea required ngModel name="txt" placeholder="enter the description realted to the theme" rows="4"
          cols="12"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="m" pickerFormat="m" name="dur" ngModel></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>
          Sequence Num
        </ion-label>
        <ion-input type="number" ngModel name="seqNum"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button icon-left block outline type="button" (click)="Camera()">
          <ion-icon name="camera"></ion-icon>
          Open Camera
        </button>
        <button ion-button icon-left block outline type="button" (click)="Record()">
          <ion-icon name="musical-notes"></ion-icon>
          Record Audio
        </button>
        <button  ion-button icon-left block outline type="button" (click)="videoCapture()" >
          <ion-icon name="video"></ion-icon>
          Video</button>
      </ion-item>

      <ion-grid>

        <ion-row>

          <ion-col>
            <button ion-button [disabled]="!f.valid" type="submit" clear (click)="finish()"
              [disabled]="!f.valid || img == ''">Finish
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button [disabled]="!f.valid" type="submit" clear (click)="add()"
              [disabled]="!f.valid || img == ''" *ngIf="!Edit">Add another</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button clear color="danger" (click)="onCancel()">Cancel</button>
          </ion-col>

        </ion-row>
       
           
      </ion-grid>



    </ion-list>
  </form>

</ion-content>