<!--
  Generated template for the FollowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="type=='followers'">followers</ion-title>
    <ion-title *ngIf="type=='following'">following</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users " (click)="showProfile(user)">
        
            <ion-avatar item-start>
              <img [src]="user.profilePic">
            </ion-avatar>
            <h2>{{user.name}}</h2>
            
         
    </ion-item>
  </ion-list>

</ion-content>
