page-profile {
  padding:0px !important;
   
  ion-card {
    position: relative;
    text-align: center;
  }
  ion-content{
    padding:0px;
  }
  
 .background{
   background-image: url("../../assets/imgs/ProfileBack.jpg") ;
   height : 30% !important ;
   background-repeat: no-repeat;
   background-size:cover;
   position: absolute ;


 } /*
 .avatar{
  position: absolute; 
  top: 40px; left: 40px;
 } */

  /*
  .d1{
background-image: url("../../assets/imgs/ProfileBack.jpg") ;
background-repeat: no-repeat;
  } */
  .profile-item {
    text-align: center;
  }
  
  .profile-picture {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    overflow: hidden;
  }
  
  .profile-picture img {
    width: 128px;
    border-radius: 100%;
  }
  
  .profile-name {
    padding-top: 20px;
    font-size: x-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
  }
 ion-toolbar {
--background: transparent;
--ion-color-base: transparent !important;
}


}
