page-profile {
  padding:0px !important;
   
  ion-card {
    position: relative;
    text-align: center;
  }
  ion-content{
    padding:0px;
  }
  /*
  .d1{
background-image: url("../../assets/imgs/ProfileBack.jpg") ;
background-repeat: no-repeat;
  } */
 

}
