
<ion-content   >
  <img src="../../assets/imgs/ProfileBack.jpg" style="width: 100%;height:30%"/>
 <!--  <ion-card >
      <img src="../../assets/imgs/ProfileBack.jpg"/>
      
    </ion-card> --> 
    <div  class="d1"padding>
        <ion-segment [(ngModel)]="icons" >
          <ion-segment-button   value="Users" selected=true>
            User
          </ion-segment-button>
          <ion-segment-button  value="Tours">
            Tours
          </ion-segment-button>
          <ion-segment-button  value="Favs">
             Favorites
            </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="icons">
        <ion-list *ngSwitchCase="'Users'"   no-lines>
       
            <ion-item-group >
              
                <ion-item-divider >
                  LANGUAGES</ion-item-divider>
                <ion-item *ngFor="let lang of languages">
                  <ion-icon name="flag"></ion-icon>
                  {{lang}}</ion-item>
                
                <ion-item-divider >POINTS</ion-item-divider>
                <ion-item icon-left>
                  <ion-icon name="cash"></ion-icon>
                  {{score}}</ion-item>
                
              </ion-item-group>
        </ion-list>
      
      
        <ion-list *ngSwitchCase="'Tours'" >
              
            <ion-item text-center *ngIf="!hasTours">
                <h4>No Tours Created yet</h4>
              </ion-item>
              <ion-item-sliding *ngFor ="let tour of ownTours">
                  <ion-item >
                      <ion-thumbnail item-start>
                        <img  [src]="tour.mainImage">
                      </ion-thumbnail>
                      <h2>  {{tour.name}}</h2>
                      <p>{{tour.rating}}</p>
                      <button ion-button clear item-end>View</button>
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button color="secondary">
                          <ion-icon name="text"></ion-icon>
                          Edit
                        </button>
                        <button ion-button color="danger">
                          <ion-icon name="trash"></ion-icon>
                          Call
                        </button>
                      </ion-item-options>
              </ion-item-sliding>
            
               
          
         
        </ion-list>
        <ion-list *ngSwitchCase="'Favs'" no-lines>
            <ion-item text-center *ngIf="!hasFav">
                <h4>No favorite Tours yet</h4>
              </ion-item>
            <ion-item *ngFor ="let tour of favTours" >
                <ion-card>
                    <img [src]="tour.mainImage"/>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col col-2>
                             <ion-avatar item-start>
                                 <img [src]="tour.CreatorImg">
                               </ion-avatar>
                          </ion-col>
                          <ion-col>
                             <ion-card-title>
                                {{tour.name}}
                                 </ion-card-title>
                                
                                 {{ tour.theme}}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    
                    </ion-card-content>
                  </ion-card>
             </ion-item>
          </ion-list>
      </div>

</ion-content>
