<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
      <ion-buttons   end>
          <button ion-button *ngIf="user!= UserService.getUser().uid && followed ==false "  (click)="followButton();followed =true;">
            follow
          </button>
          <button ion-button *ngIf="user!= UserService.getUser().uid && followed ==true"  (click)="unfollowButton();followed =false;">
            unfollow
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content fullscreen  >
    <img src="../../assets/imgs/ProfileBack.jpg" style="width: 100%;height:30%"/>
<div class="list card" >
  <ion-item class="profile-item">
    <div class="profile-picture big-profile-picture">
      <img [src]="img">
    </div>
    <h2 class="profile-name dark">{{name}}</h2>
    <!--
      <div class="profile-info">info</div>
    -->
    
  </ion-item>
  
</div>

<div  class="d1"padding>
  <ion-segment [(ngModel)]="icons" >
    <ion-segment-button   value="Users" >
      User
    </ion-segment-button>
    <ion-segment-button  value="Tours">
      Tours
    </ion-segment-button>
    <ion-segment-button  value="Favs">
       Favorites
      </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="icons">
  <ion-list *ngSwitchCase="'Users'"   no-lines>
 
      <ion-item-group >
          <ion-item-divider  >
              COMMUNITY</ion-item-divider>
              <ion-item   (click)="getfollowers()">
              <p style="color:#3c6894;">followers</p>
              </ion-item>
              <ion-item (click)="getfollowing()">
                  <p style="color:#3c6894;">following</p>
              </ion-item>
        <ion-item-divider >LANGUAGES</ion-item-divider>
        <ion-item *ngFor="let lang of languages">
          <ion-icon name="flag"></ion-icon>
          {{lang}}</ion-item>
        
        <ion-item-divider >POINTS</ion-item-divider>
        <ion-item icon-left>
          <ion-icon name="cash"></ion-icon>
          {{score}}</ion-item>
        
      </ion-item-group>
  </ion-list>


  <ion-list *ngSwitchCase="'Tours'" >

   
        
      <ion-item text-center *ngIf="!hasTours && !hasGames" >
          <h4>No Tours Created yet</h4>
        </ion-item>
        <ion-item-group >
        <ion-item-divider *ngIf="hasTours" >
            TOURS</ion-item-divider>
        <ion-item-sliding *ngFor ="let tour of ownTours ; let i=index ;">
            <ion-item >
                <ion-thumbnail item-start>
                  <img  [src]="tour.mainImage">
                </ion-thumbnail>
                <h2>  {{tour.TourName}}</h2>
                
                <button ion-button icon-left clear small color="light">
                    <ion-icon name="md-pin"></ion-icon>
                    <div> {{tour.name}}</div>
                 </button><br>
                <button ion-button icon-left clear small color="light"  >
                    <ion-icon  name="star"></ion-icon>
                    <div>{{tour.Rating}}</div>
                </button>
                <button ion-button clear item-end  (click)="gotoTour(tour)">View</button>
              </ion-item>
              <ion-item-options side="right" *ngIf="UserService.getUser().uid == user">
                  <button ion-button color="light" (click) ="edit(tour)">
                    <ion-icon name="text"></ion-icon>
                    Edit
                  </button>
                  <button ion-button color="#FA8072" (click)="ondelete(i , tour.uid)">
                    <ion-icon name="trash"></ion-icon>
                    delete
                  </button>
                </ion-item-options>
        </ion-item-sliding>
        <ion-item-divider *ngIf="hasGames" >
            GAMES</ion-item-divider>
            <ion-item-sliding *ngFor ="let tour of games ; let i=index ;">
                <ion-item  >
                    <ion-thumbnail item-start>
                      <img  [src]="tour.mainImage">
                    </ion-thumbnail>
                    <h2>  {{tour.TourName}}</h2>
                    <button ion-button icon-left clear small color="light">
                        <ion-icon name="md-pin"></ion-icon>
                        <div> {{tour.name.split(',')[1]}}</div>
                     </button><br>
                    <button ion-button icon-left clear small color="light"  >
                        <ion-icon  name="star"></ion-icon>
                        <div>{{tour.Rating}}</div>
                    </button>
                    
                    
                
                    <button ion-button clear item-end (click)="gotoTour(tour)">View</button>
                  </ion-item>
                  <ion-item-options side="right" *ngIf="UserService.getUser().uid == user">
                      <button ion-button color="light" (click) =" editgame(tour)">
                        <ion-icon name="text"></ion-icon>
                        Edit
                      </button>
                      <button ion-button color="#FA8072" (click)="ondeleteG(i , tour.uid)">
                        <ion-icon name="trash"></ion-icon>
                        delete
                      </button>
                    </ion-item-options>
            </ion-item-sliding>
      
      </ion-item-group>
    
   
  </ion-list>
 <ion-list  *ngSwitchDefault no-lines>
    <ion-item-group >
        <ion-item-divider  >
            COMMUNITY</ion-item-divider>
            <ion-item  (click)="getfollowers()">
            followers
            </ion-item>
            <ion-item (click)="getfollowing()">
             following
            </ion-item>
      <ion-item-divider >LANGUAGES</ion-item-divider>
      <ion-item *ngFor="let lang of languages">
        <ion-icon name="flag"></ion-icon>
        {{lang}}</ion-item>
      
      <ion-item-divider >POINTS</ion-item-divider>
      <ion-item icon-left>
        <ion-icon name="cash"></ion-icon>
        {{score}}</ion-item>
      
    </ion-item-group>
</ion-list>



  <ion-list *ngSwitchCase="'Favs'" no-lines>
      <ion-item text-center *ngIf="!hasFav">
          <h4>No favorite Tours yet</h4>
        </ion-item>
      <ion-item *ngFor ="let item of favTours" >
            <ion-card >
          <ion-row>
              <ion-col col-2>
                 <ion-avatar item-start (click)="UserProfile(item.creator_id)">
                     <img [src]="item.CreatorImg">
                   </ion-avatar>
              </ion-col>
              <ion-col  *ngIf="!flag">
                <button  float-right ion-button  icon-only clear  (click)=" presentPopover2($event ,item)">
                  <ion-icon name="more"></ion-icon>
                </button>
             </ion-col>
              </ion-row>
             
        <img [src]="item.mainImage" height="300" (click)="onClickItem(item)" />
          <ion-card-content text-center>
               <h1> {{item.TourName}}</h1> 
          
             
              <ionic3-star-rating 
              activeIcon = "ios-star"
              defaultIcon = "ios-star-outline"
              activeColor = "#3c6894" 
              defaultColor = "#c2cfd8"
              readonly="true"
              [rating]="item.Rating">
             </ionic3-star-rating>
             <ion-item *ngIf="flag">
              <button ion-button icon-only clear item-end (click)=" presentPopover($event ,item)">
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-item>
          </ion-card-content>
          <ion-row>
              <ion-col>
                  <button ion-button icon-left clear small color="light"  >
                      <ion-icon name="thumbs-up"></ion-icon>
                      <div>30</div>
                  </button>
              </ion-col>
             
              <ion-col center text-center>
                  <button ion-button icon-left clear small color="light">
                      <ion-icon name="md-pin"></ion-icon>
                      <div> {{item.name}}</div>
                   </button>
              </ion-col>
              
          </ion-row>
      </ion-card>
       </ion-item>
    </ion-list>
</div>

</ion-content>

