<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        
        <ion-buttons   end>
          <button ion-button  *ngIf="flag"  (click)="doneButton()">
            Done
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  
    <ion-fab bottom right >
        <button ion-fab mini ><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click)="onTourCreate()"><ion-icon name="map" ></ion-icon></button>
          <button ion-fab (click)="onGameCreate()"><ion-icon name="game-controller-a" ></ion-icon></button>
        </ion-fab-list>
        
       
      </ion-fab>
      <!--
        <button ion-button (click)="Chat()"> go to chat</button>
      -->
      
      <ion-list  no-lines *ngIf="!GameView" > 
          <ion-item *ngFor="let item of tours ; let i=index">
      <ion-card >
          <ion-row>
              <ion-col col-2>
                 <ion-avatar item-start (click)="UserProfile(item.creator_id)">
                     <img [src]="item.CreatorImg">
                   </ion-avatar>
              </ion-col>
              <ion-col  *ngIf="!flag">
                <button  float-right ion-button  icon-only clear  (click)=" presentPopover2($event ,item , i)">
                  <ion-icon name="more"></ion-icon>
                </button>
             </ion-col>
              </ion-row>
             
        <img [src]="item.mainImage" height="300" (click)="onClickItem(item)" />
          <ion-card-content text-center>
               <h1> {{item.TourName}}</h1> 
          
             
              <ionic3-star-rating 
              activeIcon = "ios-star"
              defaultIcon = "ios-star-outline"
              activeColor = "#3c6894" 
              defaultColor = "#c2cfd8"
              readonly="true"
              [rating]="item.Rating">
             </ionic3-star-rating>
             <ion-item *ngIf="flag">
              <button ion-button icon-only clear item-end (click)=" presentPopover($event ,item)">
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-item>
          </ion-card-content>
          <ion-row>
              <ion-col>
                  <button ion-button icon-left clear small color="light"  >
                      <ion-icon name="thumbs-up"></ion-icon>
                      <div>{{item.favNum}}</div>
                  </button>
              </ion-col>
             
              <ion-col center text-center>
                  <button ion-button icon-left clear small color="light">
                      <ion-icon name="md-pin"></ion-icon>
                      <div> {{item.name}}</div>
                   </button>
              </ion-col>
              
          </ion-row>
      </ion-card>
    </ion-item>
     
        
  </ion-list>
  <div class="card-background-page" *ngIf="GameView">

    <ion-card *ngFor="let game of tours " (click) =" onGameDetails(game)">
      <img [src] ="game.mainImage " height="200"/>
      <div class="card-title">{{game.TourName}}</div>
      <div class="card-subtitle">{{ game.name }}</div>
    </ion-card>
  
  
  
  </div>



    
    
       <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
        <ion-infinite-scroll-content   loadingSpinner="bubbles"
        loadingText="Loading more data..."></ion-infinite-scroll-content>
     </ion-infinite-scroll>
       
   
     
</ion-content>
