
<ion-header>
    <ion-navbar color="primary" hideBackButton>
      <ion-title>add game items</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
   
<form #f="ngForm" (ngSubmit)="onSubmit1(f)" >
      <ion-list>
        <ion-item>
          <ion-label>Museum's Monuments</ion-label>
          <ion-select  [(ngModel)]="Monument" name="selected" multiple="false" required>
            <ion-option *ngFor="let item of Monum">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
        
     <ion-item no-line> 
      <button
      type="submit"
      ion-button
      icon-left
      block
      outline
      (click) ="onaddChoices()">
        <ion-icon name="paper"></ion-icon>
        Add Question
      </button>
      </ion-item>
      </ion-list>
    </form>
  
        <ion-list *ngIf="Questions.length>0" >
          <ion-list-header>
          <h1> Questions</h1>  
          </ion-list-header>
          <button ion-item *ngFor="let question of Questions"> 
            <ion-icon name="paper"></ion-icon>
           {{question.Qu}}
            </button>
        </ion-list>
        
        <ion-grid>

          <ion-row>
  
            <ion-col>
              <button ion-button  clear (click)="finish() "
               >Finish
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button  clear (click)="add()"
                >Add another</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button clear color="danger" (click)="onCancel()">Cancel</button>
            </ion-col>
  
          </ion-row>
         
             
        </ion-grid>
  </ion-content>