
<ion-header>
  <ion-navbar color="primary">
    <ion-title>tour Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
      <ion-card text-center >
     
          
        
            <img [src]="tour.mainImage" height="250" (click)="onItemClick()"/>
            <ion-card-title>{{tour.TourName}}</ion-card-title>
            
          </ion-card>
          <ion-card >
            
         
  
              <ion-list>
                
                  <h2>Museum :</h2>
                  <button ion-button icon-left clear small >
                    <ion-icon name="md-pin"></ion-icon>
                    <div color="light"> {{tour.name}}</div>
                 </button><br>
              <h2>details :</h2>
                 <button ion-button icon-left clear small >
                    <ion-icon name="paper"></ion-icon>
                    <div color="light"> {{tour.tour_info }}</div>
                 </button><br>
                 <h2>price :</h2>
                 <button ion-button icon-left clear small color="light">
                    <ion-icon  name="cash"></ion-icon>
                    <div color="light"> {{tour.TicketPrice}}</div>
                 </button><br>
                 <h2>themes :</h2>
                 <ion-chip *ngFor="let theme of tour.theme.split('#').splice(1,tour.theme.split('#').length -1)" (click)="SearchTheme(theme)">
                    <ion-label>#{{theme}}</ion-label>
                   
                  </ion-chip> <br>

                 <h2>Rating :</h2>
              <ionic3-star-rating 
              activeIcon = "ios-star"
              defaultIcon = "ios-star-outline"
              activeColor = "#3c6894" 
              defaultColor = "#c2cfd8"
              readonly="true"
              [rating]="tour.Rating">
             </ionic3-star-rating>
                </ion-list>
          </ion-card>
            
               
  
           
         


    
        <ion-item text-center>
          <hr>
          <h4>Rate this Tour</h4>
          <p>Tell others what you think</p>
          <ionic3-star-rating
          size="20" 
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#3c6894" 
          defaultColor = "#c2cfd8"
          readonly="false"
          [rating]="3">
         </ionic3-star-rating>
         <button ion-button clear (click)="addReview()">write a review</button>
        </ion-item>
       
           
             
        
        <ion-list   >
          <ion-item *ngFor="let review of tour.review" >
            <ion-avatar item-start>
              <img [src]="review.user.profilePic"  (click) ="showProfile(review.user)">
            </ion-avatar>
            <div (click)="reviewdetail(review)">
                <h2>{{review.user.name}}</h2>
                <p>{{review.content}}</p>
            </div>
            
            
          </ion-item>
        </ion-list>
      
            <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
                <ion-infinite-scroll-content   loadingSpinner="bubbles"
                loadingText="Loading more data..."></ion-infinite-scroll-content>
             </ion-infinite-scroll>
       
       


   
</ion-content>
