
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

      <ion-card text-center >
          <img [src]="tour.mainImage" height="250" (click)="onItemClick()"/>
          <ion-card-content>
              <ion-card-title>
                  {{tour.name}}
                    </ion-card-title>
                   
                    <ion-chip *ngFor="let theme of tour.theme.split('#').splice(1,tour.theme.split('#').length -1)" (click)="SearchTheme(theme)">
                        <ion-label>#{{theme}}</ion-label>
                       
                      </ion-chip>
          
          </ion-card-content>
          
        </ion-card>
        <ion-item text-center>
          <hr>
          <h4>Rate this Tour</h4>
          <p>Tell others what you think</p>
          <ionic3-star-rating
          size="20" 
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#3c6894" 
          defaultColor = "#c2cfd8"
          readonly="false"
          [rating]="3">
         </ionic3-star-rating>
         <button ion-button clear (click)="addReview()">write a review</button>
        </ion-item>
       
           
             
        
        <ion-list   >
          <ion-item *ngFor="let review of tour.review">
            <ion-avatar item-start>
              <img [src]="review.user.profilePic"  (click) ="showProfile(review.user)">
            </ion-avatar>
            <h2>{{review.user.name}}</h2>
            <p>{{review.content}}</p>
            <ionic3-star-rating 
            
            activeIcon = "ios-star"
            defaultIcon = "ios-star-outline"
            activeColor = "#3c6894" 
            defaultColor = "#c2cfd8"
            readonly="true"
            [rating]="review.rating">
        </ionic3-star-rating>
          </ion-item>
        </ion-list>
      
            <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
                <ion-infinite-scroll-content   loadingSpinner="bubbles"
                loadingText="Loading more data..."></ion-infinite-scroll-content>
             </ion-infinite-scroll>
       
       


   
</ion-content>
