<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4 *ngIf="notifications.length==0">No Notifications</h4>
  <ion-item *ngFor="let notif of notifications" >
    <ion-avatar item-start>
      <img [src]="notif.user.profilePic"  (click) ="showProfile(notif.user)">
    </ion-avatar>
    <div (click)="navigate(notif)">
        <h5>{{notif.Notification}}</h5>
       
    </div>
    
    
  </ion-item>

</ion-content>
