page-test {
    /*
.scroll-zoom-wrapper {
    white-space: nowrap;
}

ion-card {
    border-top: 3px solid #d25cf0 ;
    border-radius:30px !important;
    margin-bottom: 100 !important ;

    
}

ion-list{
  //  display: inline-block;
    background: linear-gradient(-45deg, #f1b0f7,#d25cf0 ,#d1add6, #dbbad3);
     // background-size: 400% 400%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
}


ion-scroll {
    min-height: 160px; 
    height: auto;

        .scroll-content {
        padding: 0px !important;
    } 
    
    

   

}
ion-content {
    // width: 100wh;
    //  height: 90vh;
      color: #fff;
      background: linear-gradient(-45deg, #b4c8d5,#7698b5 ,#3b6893, #dbbad3);
      background-size: 400% 400%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
  }
  
  @-webkit-keyframes Gradient {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes Gradient {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes Gradient {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  .down{
    position:absolute;
    bottom:0;
    right:0;
}
 */
 [box-shadow] {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px !important;
}
.shadow {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4) !important;
}
}
  