<!--<ion-content padding>
    <form name="paymentForm">
        <ion-item>
          <ion-label floating>Amount</ion-label>
          <ion-input type="text" name="amount" [(ngModel)]="payment.amount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Currency</ion-label>
          <ion-select [(ngModel)]="payment.currency" name="currency">
            <ion-option value="{{currency}}" *ngFor="let currency of currencies">{{currency}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-input type="text" name="description" [(ngModel)]="payment.shortDescription"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Intent</ion-label>
          <ion-input type="text" name="intent" [(ngModel)]="payment.intent"></ion-input>
        </ion-item>
        <p>
          <button ion-button block color="secondary" (click)="makePayment()">MAKE PAYMENT</button>
        </p>
    </form>
</ion-content>
-->
<!--
  Generated template for the GamePreviewItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>GamePreviewItems</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
  <ion-card box-shadow>
    <ion-card-content>
   
        <img src="https://www.w3schools.com/w3css/img_lights.jpg"  height="200" >
       
        <ion-item text-center> 
         <b>Basic Information</b> 
         <button icon-only ion-button clear (click)="read(currentItem.BasicInfo)">
           <ion-icon name ="mic"></ion-icon>
         </button>
         <br>
          slmlsndlndls</ion-item>
        <ion-item text-center  >
           <b>Added Information</b>
           <button icon-only ion-button clear (click)="read(currentItem.addedInfo)">
               <ion-icon name ="mic"></ion-icon>
             </button><br>
           sklkdkldld</ion-item>
        
        <ion-item>
         <button ion-button clear icon-left (click)="onListen()">
           <ion-icon name="musical-notes" ></ion-icon>
           Listen
          </button>
         </ion-item>
         <ion-item>
          <button ion-button clear icon-left (click)="onWatch()">
           <ion-icon name="videocam"  ></ion-icon>
           Watch video
          </button>
        </ion-item>
       <ion-grid>
         <ion-row>
           
           
           
           
           <ion-col text-end *ngIf="flag" (click)="onNextItem()">
             <button ion-button clear >Next Item</button>
           </ion-col>
           <ion-col text-end *ngIf="!flag" (click)="onFinish()">
               <button ion-button clear >Finish</button>
             </ion-col>
           <ion-col text-start *ngIf="hasPrevious" (click)="onPrevItem()">
               <button ion-button clear >Previous Item</button>
             </ion-col>
           
         </ion-row>
       
       </ion-grid>
  
     
  
 
    </ion-card-content>
  </ion-card>
  <ion-card box-shadow>
    <ion-card-content>
      <ion-item>
        <b>Image</b>
        <button icon-only ion-button clear (click)="read(currentItem.addedInfo)">
          <ion-icon name="brush"></ion-icon>
        </button>
      </ion-item>
        <img src="https://www.w3schools.com/w3css/img_lights.jpg"  height="200"  (press) ="pressed()">
      <ion-item>
        <b>Basic Info</b> 
       <br>
        sklkdkldld
      </ion-item>
     
        <ion-item  >
           <b>Added Information</b>
           <button icon-only ion-button clear (click)="read(currentItem.addedInfo)">
            <ion-icon name="brush"></ion-icon>
          </button><br>
           sklkdkldld</ion-item>
         
           <ion-item >
              <b>Audio</b>    <button icon-only ion-button clear (click)="read(currentItem.addedInfo)">
                  <ion-icon name="brush"></ion-icon>
                </button><br>
            <p>fileNmae</p>
            <button ion-button clear item-end large (click)="playAudio(audio.filename, i)"><ion-icon name="play"></ion-icon></button>
          
          </ion-item>
         <ion-item>
            <b>Video</b>    <button icon-only ion-button clear (click)="read(currentItem.addedInfo)">
                <ion-icon name="brush"></ion-icon>
              </button><br>
            <video  width="320" height="240" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="http://192.168.1.10/Gawlah/backup/gawlah_uploaded_files/videos/testX" type="video/mp4"/></video>
            
        </ion-item>
      
  
     
  
 
    </ion-card-content>
  </ion-card>
  
  </ion-content>
  